.card {
    height: 300px;
    width: 200px;
    border: 1px solid #eee;
    margin: 5px;
    padding: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-radius: 5px;

    &:hover {
        box-shadow: 0 6px 9px rgba(0, 0, 0, 0.6);
    }
}

.thumb {
    height: 120px;
    width: 100px;
}

.info {
    text-align: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    height: 130px;
    overflow: auto;
}

.name {
    text-align: center;
    margin: 7px 0;
}

button {
    margin: 5px 3px;
    border: 1px solid #234;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    padding: 3px 10px;

    &:hover {
        background-color: #234;
        color: white;
    }
}

hr {
    color: rgba(0, 0, 0, 0.4);
    width: 80%;
}
