@font-face {
    font-family: 'elian';
    src: url('../font/elian_cc_mono.ttf');
}

.container {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.elianContainer {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-family: elian;
    font-size: 13px;
}

.cards {
    border: 1px solid #fff;
    background-color: #b3b3cc;
    border-radius: 5px;
    width: 70%;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.deck {
    width: 25%;
    height: 600px;
}
